<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <i class="bi bi-safe me-2"></i>
      SecureCapita
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coran']">Coran</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hadith']">Hadith</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/invocations']">Invocations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/attributes']">Noms d'Allah</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/histoire']">Histoire du monde musulman</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/prophets']">Histoire des prophètes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cours-arabe']">Cours d'Arabe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" [routerLink]="['/login']">Se connecter</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
